.env
node_modules/
empa-deploy/
empa-deploy.zip
empa-deploy-full/
sitefinal/
sitefinal.zip
deploy-precos/
deploy-precos.zip
deploy-preco-1986/
deploy-preco-1986.zip
deploy-fix-utf8/
deploy-fix-utf8.zip
deploy-fix-wizard/
deploy-fix-wizard.zip
deploy-empa-amung/
deploy-empa-amung.zip
deploy-empa-novo/
deploy-empa-novo.zip
deploy-dashboard/
deploy-dashboard.zip
deploy-ll/
deploy-ll.zip
deploy-amung/
deploy-amung.zip
deploy-index-ll/
deploy-index-ll.zip
novosprojetos/
novosprojetos.zip
config/cpf-token.js
config/google-pixels.json
wizard/.env
data/
